<section class="about">
    <div class="container">
        <img src="{{ asset('img/guitarman.png') }}" alt="guitarman" />

        <div class="content">
            <span>Informacje og贸lne</span>

            <h1>Dlaczego <span>sol贸wki</span>?</h1>
            <h2>Tylko z polskich utwor贸w</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor eolor sit amet.<br/><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor eolor sit amet, consectetur. Incididunt ut labor eolor sit amet. Lorem ipsum.</p>

            <a href="#">Zobacz autor贸w</a>
        </div>
    </div>
</section>