<section class="blog container">
    <h2>Poradniki, recenzje i inne</h2>
    <h1>Blog</h1>

    <article class="news">
        <article>
            <span>Recenzja</span>

            <h1>Nowa płyta Podsiadło!</h1>
            <h2><span>Rafał</span>, 12 kwietnia 2016</h2>

            <img src="{{ asset('img/blog/dawidpodsiadlo.jpg') }}" alt="blog-1" />

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor eolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

            <div class="more">
                <a href="#">Przeczytaj całość</a>
                <a href="#"><i class="fa fa-share-alt"></i></a>
            </div>
        </article>

        <article>
            <span>Poradnik</span>

            <h1>Jak zagrać dwoma rękami?</h1>
            <h2><span>Rafał</span>, 12 kwietnia 2016</h2>

            <img src="{{ asset('img/blog/dawidpodsiadlo.jpg') }}" alt="blog-1" />

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor eolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

            <div class="more">
                <a href="#">Przeczytaj całość</a>
                <a href="#"><i class="fa fa-share-alt"></i></a>
            </div>
        </article>
    </article>

    <div class="more"><a href="#">Zobacz pozostałe</a></div>
</section>