<div class="instruction">
    <h2>Szybka instrukcja</h2>
    <h1>Nagrajmy razem solówkę</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>

    <ol>
        <li>
            <h2>1. Wybierz solówkę</h2>
            <p>Lorem ipsum dolor sit amet, consectet ament nonse loreate comforna...</p>
        </li>

        <li>
            <h2>2. Nagraj solówkę</h2>
            <p>Lorem ipsum dolor sit amet, consectet ament nonse loreate comforna...</p>
        </li>
    </ol>

    <a href="#">Przeczytaj szczegóły</a>
</div>