<div class="newestSolo">
    <img src="{{ asset('img/solo/full/sewerynkrajewski.jpg') }}" alt="newest-solo" />

    <div class="content">
        <h2>Seweryn Krajewski</h2>
        <h1>Byłaś serca biciem</h1>

        <div class="desc">
            <a href="#">Zobacz</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
    </div>
</div>