<section class="slider">
    <img src="{{ asset('img/slider/woman.jpg') }}" alt="slider-woman" />

    <div class="content">
        <h2>Tylko polskie nagrania</h2>
        <h1>Zagraj <span>razem</span> z nami</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br/> do eiusmod tempor incididunt ut labore et dolore.</p>
        <a href="#">Przeczytaj więcej</a>
    </div>
</section>