<section class="solos container">
    <h2>Zagrajmy kolejna solówkę</h2>
    <h1>Pozostałe nagrania</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor eolor sit amet, consectetur.</p>

    <article class="solos">
        <article class="solo">
            <div class="image">
                <img src="{{ asset('img/solo/thumb/michaeljackson.jpg') }}" alt="solo-1" />

                <div class="date">
                    <span>12 listopad 2015</span>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>

            <div class="desc">
                <h2>Michael Jackson</h2>
                <h1>Pobić go</h1>

                <a href="#">Zobacz</a>
            </div>
        </article>

        <article class="solo">
            <div class="image">
                <img src="{{ asset('img/solo/thumb/michaeljackson.jpg') }}" alt="solo-1" />

                <div class="date">
                    <span>12 listopad 2015</span>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>

            <div class="desc">
                <h2>Michael Jackson</h2>
                <h1>Pobić go</h1>

                <a href="#">Zobacz</a>
            </div>
        </article>

        <article class="solo">
            <div class="image">
                <img src="{{ asset('img/solo/thumb/michaeljackson.jpg') }}" alt="solo-1" />

                <div class="date">
                    <span>12 listopad 2015</span>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>

            <div class="desc">
                <h2>Michael Jackson</h2>
                <h1>Pobić go</h1>

                <a href="#">Zobacz</a>
            </div>
        </article>
    </article>
</section>