<section class="stats">
    <div class="container">
        <div class="box" id="yt">
            <h1>1598</h1>
            <p>subskrypcji yt</p>
        </div>

        <div class="box" id="solo">
            <h1>1598</h1>
            <p>subskrypcji yt</p>
        </div>

        <div class="box" id="develop">
            <h1>1598</h1>
            <p>subskrypcji yt</p>
        </div>

        <div class="box" id="musicbg">
            <h1>1598</h1>
            <p>subskrypcji yt</p>
        </div>
    </div>
</section>