{% extends 'Shared/Layout.twig' %}

{% block content %}
    <ul>
        <li><h3>Here is list of items {{ artists | length }}!!</h3></li>
        <li>First</li>
        <li>Second</li>
        <li>Third</li>
        <li>Fourth</li>
    </ul>
{% endblock %}