{% extends 'Shared/Layout.twig' %}

{% block content %}
    Here is list of items!!
    <ul>
        <li>First</li>
        <li>Second</li>
        <li>Third</li>
        <li>Fourth</li>
    </ul>
{% endblock %}