<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>polskiesolowki</title>
</head>
<body>
<nav>
    ... some menu
    <ul>
        <li>menu item</li>
        <li>menu item</li>
        <li>menu item</li>
        <li>menu item</li>
    </ul>
</nav>
<section>
    {% block content %}{% endblock %}
</section>
</body>
</html>